
.form-container::before{
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: -10px;
  z-index: -1;
  background: linear-gradient(rgba(20,20,20, .4), rgba(20,20,20, .9)),url('./img/bodybuilding-exercise-fitness-2294361.jpg');
  height: 110vh;
  width: 110vw;
  display: block;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  filter: blur(3px);
}
.form-container{
  display: flex;
  flex-direction: column;
  width: 33%;
  margin: 8% auto;
  background-color:#a4a4a4;
  padding: 3em;
  box-shadow: 0px 5px 20px 10px rgba(0,0,0,0.15);
  border-radius: 5px;
}
.form{
  display: flex;
  flex-direction: column;
}
.title{
  color: white;
  vertical-align: middle;
  display: inline;
}
.form-field{
  padding-top: 10px;
}
.btn-container{
  margin: 0 auto;
}
.user-type-btn{
  padding: .75em 2em;
  margin-bottom: 25px;
  background: #E0E1E2;
  border: none;
  font-size: 20px;
  font-weight: 500;
  color: black;
}
.user-type-btn:focus {
  outline: none;
}
.user-type-btn:first-child{
border-radius: 5px 0px 0px 5px;
}
.user-type-btn:last-child{
  border-radius: 0px 5px 5px 0px;
  }
.user-btn-active{
  background: #1f2322;
  color: white;

}
.member-btn{
  background: none;
  border: none;
  padding-top: 1em;
  cursor: pointer;
  width: max-content;
  margin: 0 auto;
 
}
.member-btn:hover{
  color: white;
}
.link-btn{
  color: lightgrey;
}
.link-btn:hover{
  color: white;
}
.submit-btn{
  color: #1f2322;
}
.submit-btn:hover{
  color: #1f2322;
}
.dash-wrap{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
}
.logo{
  width: 50px;
  display: inline-block;
  vertical-align: middle;
}
.logo-wrap{
  padding: 25px;
}

/* trainer dassboard syling by miguel P. */
.dashboardContainer{
  display:flex;
  justify-content: space-evenly;
  padding: 4rem 0;
  background-color: #1f2322;
}

.createClassContainer {
  width: 40rem;
  height: 30rem;
  /* margin: 0 auto; */
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f7ef;

}

.createClassContainer form {
  
  margin-top: 2rem;
  width: 20rem;
  height: 22rem;
}

.createClassContainer form div{
  margin: 1.5rem 0;
}

.ClassesContainer {
   width: 40rem;
  height: 30rem;
  /* margin: 0 auto; */
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f7ef;

}

.teamCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #1f2322;
}


.teamCard h1 {
  border: 1px solid black;
  width: 30rem;
  height: 15rem;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f7ef;
}

/* end */